.header {
    padding:        0 32px 10px;
    margin:         0 auto;
    max-width:      1200px;
    width:          100%;
    display:        flex;
    flex-direction: column;
    gap:            20px;

    p {
        font-size:      30px;
        font-weight:    600;
        font-family:    var(--ff-noto), sans-serif;
        letter-spacing: 1px;
        animation:      fadeIn 1s cubic-bezier(.2, .9, .3, 1) forwards;
    }
}

.gallery-container {
    padding:   0 32px;
    width:     100%;
    max-width: 1400px;
    margin:    0 auto 50px;

    .gallery {
        display:        flex;
        flex-direction: row;
        gap:            20px;

        div {
            height:         fit-content;
            display:        flex;
            flex-direction: column;
            gap:            20px;

            img {
                width:     100%;
                opacity:   0;
                transform: translateY(100px);
            }

            img.visible {
                animation: slideInY .5s cubic-bezier(.2, .9, .3, 1) forwards;
            }
        }
    }

    @media screen and (max-width: 684px) {
        padding: 0 16px;
    }
}
