.banner {
    margin-top:     30px;
    display:        flex;
    flex-direction: row;
    flex:           1 0 0;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        gap:            20px;
    }

    .content {
        width:         100%;
        padding-right: 32px;

        h1 {
            font-family:    var(--ff-tinos), sans-serif;
            font-size:      3em;
            font-weight:    800;
            letter-spacing: 0.5px;
            margin:         0;
        }

        p {
            max-width:   70%;
            margin-top:  30px;
            font-size:   18px;
            font-weight: 500;
            line-height: 150%;
            font-family: var(--ff-noto), sans-serif;
        }
    }

    .media {
        min-width:         300px;
        display:           flex;
        flex-direction:    column;
        border:            0 solid var(--background-secondary);
        border-left-width: 2px;
        padding-left:      32px;
        height:            100%;

        @media screen and (max-width: 800px) {
            border-width:  2px;
            border-radius: var(--br-16);
            padding:       16px;
        }

        p {
            font-size: 16px;
        }

        p:nth-child(2n) {
            font-weight:    500;
            font-family:    var(--ff-noto), sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.5px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        p:nth-child(2n - 1) {
            font-weight:    400;
            font-family:    var(--ff-lato), sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            color:          var(--text-accent);
            margin-bottom:  5px;
        }
    }
}

.banner-image {
    width:  100%;
    margin: 30px 0;

    img, iframe {
        width:           100%;
        aspect-ratio:    4/2;
        border-radius:   var(--br-32);
        object-fit:      cover;
        object-position: bottom;
    }
}

.route-content {
    padding-bottom: 50px;

    .date {
        font-weight:    400;
        font-family:    var(--ff-lato), sans-serif;
        text-transform: capitalize;
        letter-spacing: 1px;
        color:          var(--text-accent);
        margin:         10px 0;
    }

    .block {
        border-left: 2px solid var(--background-secondary);
        padding:     16px 32px;
        margin-left: 8px;

        .header {
            font-size:     24px;
            font-weight:   600;
            margin-bottom: 10px;
        }

        .title {
            font-size:     20px;
            font-weight:   600;
            font-family:   var(--ff-lato), monospace;
            margin-top:    30px;
            margin-bottom: 10px;
        }

        .views {
            display:        flex;
            flex-direction: row;
            gap:            20px;
            flex-wrap:      wrap;

            .card {
                height:         200px;
                display:        flex;
                flex-direction: row;
                gap:            0;
                position:       relative;

                @media screen and (max-width: 620px) {
                    width:          100%;
                    flex-direction: column;
                    height:         fit-content;
                }

                img {
                    height:        100%;
                    border-radius: var(--br-16) 0 0 var(--br-16);

                    @media screen and (max-width: 620px) {
                        width:           100%;
                        object-fit:      cover;
                        object-position: bottom;
                        border-radius:   var(--br-16);
                    }
                }

                .text {
                    display:           flex;
                    flex-direction:    column;
                    gap:               10px;
                    padding:           16px;
                    width:             200px;
                    border:            2px solid var(--background-secondary);
                    border-left-width: 0;
                    border-radius:     0 var(--br-16) var(--br-16) 0;

                    @media screen and (max-width: 620px) {
                        border:        none;
                        padding:       0;
                        border-radius: 0;

                        .name {
                            padding: 5px 16px;
                        }

                        .desc {
                            display: none;
                        }
                    }

                    .name {
                        font-size:   18px;
                        font-weight: 600;
                    }

                    .desc {
                        font-size:   16px;
                        font-weight: 300;
                        font-family: var(--ff-lato), sans-serif;
                        line-height: 130%;
                        color:       var(--text-secondary);
                    }
                }
            }
        }

        .images {
            display:        flex;
            flex-direction: row;
            flex-wrap:      wrap;
            gap:            20px;
            flex:           1 0 0;

            img {
                height:        200px;
                border-radius: var(--br-16);

                @media screen and (max-width: 620px) {
                    max-height: unset;
                    width:      100%;

                    &:nth-child(n+3) {
                        display: none;
                    }
                }
            }

            .info {
                height:          200px;
                background:      var(--background-accent-3);
                padding:         32px;
                border-radius:   var(--br-16);
                display:         flex;
                justify-content: center;
                flex-direction:  column;

                @media screen and (max-width: 620px) {
                    width: 100%;
                }

                p:nth-child(2n) {
                    font-weight:    800;
                    font-family:    var(--ff-noto), sans-serif;
                    color:          var(--background-primary);
                    letter-spacing: 0.5px;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }

                p:nth-child(2n - 1) {
                    font-weight:    700;
                    font-family:    var(--ff-lato), sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color:          var(--background-accent);
                    margin-bottom:  5px;
                }
            }
        }
    }

}

.blog-container {
    width:          100%;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    max-width:      1400px;
    margin:         0 auto;
    padding:        70px 16px 0;
    position:       relative;

    @media screen and (max-width: 1300px) {
        padding: 10px 16px 0;
    }

    .author {
        position:       absolute;
        width:          fit-content;
        right:          0;
        top:            70px;
        display:        flex;
        flex-direction: column;
        align-items:    center;
        padding:        0 16px;

        @media screen and (max-width: 1300px) {
            position:      relative;
            top:           unset;
            margin-bottom: 30px;
        }

        .month {
            display:        flex;
            flex-direction: column;
            gap:            5px;
            margin-bottom:  10px;

            span:nth-child(1) {
                font-family:    var(--ff-lato), sans-serif;
                font-size:      17px;
                font-weight:    600;
                text-transform: uppercase;
            }

            span:nth-child(2) {
                font-family:    var(--ff-lato), sans-serif;
                font-size:      30px;
                font-weight:    600;
                text-transform: uppercase;
            }

            @media screen and (max-width: 1300px) {
                flex-direction: row;
                margin-bottom:  3px;

                span {
                    font-family: var(--ff-roboto), sans-serif !important;
                    font-size:   15px !important;
                    font-weight: 600 !important;
                }
            }
        }

        .separator {
            color:          var(--background-secondary);
            letter-spacing: 3px;

            &:nth-child(4) {
                display: none;
            }

            @media screen and (max-width: 1300px) {
                &:nth-child(2) {
                    display: none;
                }

            }
        }

        .quote {
            font-size:   17px;
            text-align:  center;
            font-family: var(--ff-viaoda), sans-serif;
            font-weight: 500;
            font-style:  italic;
            color:       var(--text-secondary);
            max-width:   600px;
            display:     none;
            margin:      10px 0;

            @media screen and (max-width: 1300px) {
                display: block;
            }
        }

        .name {
            display:        flex;
            flex-direction: column;
            gap:            5px;
            margin:         15px 0;

            span:nth-child(1) {
                color:       var(--text-accent);
                font-family: var(--ff-viaoda), sans-serif;
                font-weight: 600;
                font-style:  italic;
                font-size:   15px;
                text-align:  center;
            }

            span:nth-child(2) {
                font-family: var(--ff-viaoda), sans-serif;
                font-weight: 600;
                font-style:  italic;
                font-size:   15px;
                text-align:  center;
            }

            @media screen and (max-width: 1300px) {
                flex-direction: row;
                margin-top:     0;

                span {
                }
            }
        }
    }

    .text-container {
        width:          100%;
        display:        flex;
        flex-direction: column;
        align-items:    center;

        .head {
            display:        flex;
            flex-direction: column;
            align-items:    center;
            margin-bottom:  10px;
            margin-top:     20px;
            gap:            5px;

            .name {
                font-size:   20px;
                font-weight: 600;
                font-family: var(--ff-lato), sans-serif;
            }

            .date {
                font-size: 16px;
                color:     var(--text-accent);
            }
        }

        .text {
            max-width:     800px;
            font-size:     19px;
            font-weight:   500;
            line-height:   180%;
            color:         var(--text-secondary);
            font-family:   var(--ff-tinos), sans-serif;
            margin-bottom: 20px;

            @media screen and (max-width: 600px) {
                line-height: 150%;
                font-size:   17px;
            }
        }

        .images-container {
            overflow: visible;

            figcaption {
                margin:      0 10px 30px;
                text-align:  center;
                font-weight: 400;
                font-style:  italic;
                line-height: 160%;
                font-size:   17px;
                font-family: var(--ff-tinos), sans-serif;
                color:       var(--text-secondary);

                @media screen and (max-width: 600px) {
                    font-size:   13px;
                    line-height: 130%;
                }
            }

            .images {
                display: flex;
                gap:     20px;

                img {
                    width:           100%;
                    height:          100%;
                    object-fit:      cover;
                    object-position: center;
                }

                @media screen and (max-width: 800px) {
                    flex-direction: column;
                }
            }

            .image {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}
