@import 'stylesheets/variables.css';
@import "stylesheets/normalize.css";
@import "stylesheets/index.css";
@import "stylesheets/fonts.css";

@import "stylesheets/elements/animations.css";
@import "stylesheets/elements/control-button.css";
@import "stylesheets/elements/classes.css";

.container {
    padding:        0 32px;
    max-width:      1440px;
    margin:         0 auto;
    display:        flex;
    flex-direction: column;
    gap:            20px;

    @media screen and (max-width: 800px) {
        padding: 0 16px;
    }
}
